sources:
  - /var/log/daemon.log
  - {proto: udp, host: localhost, port: 1639}
  - {proto: unix, path: /var/run/logdevourer.sock}

destinations:
  - {proto: tcp, host: localhost, port: 1638}
  - {proto: udp, host: localhost, port: 1638}
  # retry=true is the default, only path is required
  - {proto: unix, path: /var/run/messenger.sock, retry: true}

options:
  rulebase: /etc/logdevourer/rulebase/init.rules
  send_unparsed: true
  log_unparsed: false

# vim:ft=yaml
